﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>MCop</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Promote your bussiness online,Web Application,Android Application, AMC , Hardware & Network services , Cloud Services" />
    <!-- Favicons -->
    <link href="~/images/New_Logo_MCop.jpg" rel="icon">
    <link href="~/images/New_Logo_MCop.jpg" rel="apple-touch-icon">

    <!-- Custom-Files -->
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.css">

    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/twitter-bootstrap/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/twitter-bootstrap/css/slider.css" type="text/css" media="all" />

    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //Fonts -->
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-3 d-lg-flex">
                <div id="logo">
                    <h1> <a href="index.html"> <img src="~/images/New_Logo_MCop.jpg" alt="MCop"  class="img-fluid" /> </a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu ml-auto mt-1">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li class=""><a href="#about">About Us</a></li>
                    <li class=""><a href="#portfolio">Portfolio</a></li>
                    <li class=""><a href="#contact">Contact With Us</a></li>
                    <!--  <li class="last-grid"><a href="#register">Register now</a></li> -->
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <!-- banner -->
    <div class="banner" id="home">
        <div class="layer">
            <div class="container">
                <div class="banner-text-w3pvt">
                    <!-- banner slider-->
                    <div class="csslider infinity" id="slider1">
                        <input type="radio" name="slides" checked="checked" id="slides_1" />
                        <input type="radio" name="slides" id="slides_2" />
                        <input type="radio" name="slides" id="slides_3" />
                        <ul class="banner_slide_bg">
                            <li>
                                <div class="w3ls_banner_txt">

                                    <h3 class="b-w3ltxt text-capitalize mt-md-4">
                                        MCop provide
                                        solutions
                                        for your business!
                                    </h3>

                                    <!-- <a href="#about" class="btn btn-banner my-sm-3 mr-2">Read More</a> -->

                                </div>
                            </li>
                            <li>
                                <div class="w3ls_banner_txt">
                                    <h3 class="b-w3ltxt text-capitalize mt-md-4">Best planning Platform to Really Grow your Business Online</h3>

                                    <!-- <a href="#about" class="btn btn-banner my-sm-3 mr-2">Read More</a> -->

                                </div>
                            </li>
                            <li>
                                <div class="w3ls_banner_txt">
                                    <h3 class="b-w3ltxt text-capitalize mt-md-4">Best Marketing Platform to Evolve your Business Network</h3>

                                    <!-- <a href="#about" class="btn btn-banner my-sm-3 mr-2">Read More</a> -->

                                </div>
                            </li>
                        </ul>
                        <div class="navigation">
                            <div>
                                <label for="slides_1"></label>
                                <label for="slides_2"></label>
                                <label for="slides_3"></label>
                            </div>
                        </div>
                    </div>
                    <!-- //banner slider-->
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="services py-5" id="services">
        <div class="container py-md-5 py-3">
            <h5 class="heading mb-2">Exclusive Services</h5>
            <h3 class="heading  mb-5">We Provide Services</h3>
            <div class="feature-grids row">
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="bottom-gd">
                        <span>01</span>
                        <h3 class="mt-4"> Infrastructure Solutions </h3>
                        <p class="mt-2">
                            <ul>
                                <li> AMC of All It Assets.</li>
                                <li> Network Infrastructure</li>
                                <li> Consulting.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="bottom-gd">
                        <span>02</span>
                        <h3 class="mt-4"> Software Solutions</h3>
                        <p class="mt-2">
                            <ul>
                                <li> Customized Software Devlopment. </li>
                                <li> WebSite Devlopment. </li>
                                <li> Mobile Application Devlopment. </li>
                                <li> And many more Services Comming Soon.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="bottom-gd">
                        <span>03</span>
                        <h3 class="mt-4"> Measurement Content</h3>
                        <p class="mt-2">Integer sit amet mattis quam, sit amet ul tricies velit. Praesent ullam corper dui turpis dolor sit amet.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="bottom-gd">
                        <span>04</span>
                        <h3 class="mt-4">Cloud Migration</h3>
                        <p class="mt-2">Hazzle up with your on premises Server / Gateway , time to take a taste of Cloud . We provide end to end support in AWS / Azure / GCP public cloud plateforms.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6  mb-5">
                    <div class="bottom-gd">
                        <span>05</span>
                        <h3 class="mt-4"> ML & AI Solutions</h3>
                        <p class="mt-2">Wanted to achive more out of your data , Need to get the futrastic outcomes , Predections then you are in a right place where we have dadicated team for AI / ML.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
                    <div class="bottom-gd">
                        <span>06</span>
                        <h3 class="mt-4"> Blockchain Solutions</h3>
                        <p class="mt-2">Want your own Cryptocurrency or catch the froders , need the DApps on Ethereium plateform or Hyperledger Permessioned Blockchain Network we have a dedicated team for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- about bottom -->
    <section class="about-bottom py-5" id="about">
        <div class="container py-md-5 py-3">
            <h5 class="heading mb-2">How we work</h5>
            <h3 class="heading mb-sm-5 mb-3">Your search ends here </h3>
            <div class="row">
                <div class="col-lg-6 left-img">
                    <img src="images/about.jpg" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 mt-lg-0 mt-4">
                    <div class="row inner-heading">
                        <div class="col-md-2">
                            <span class="fa fa-bullseye"></span>
                        </div>
                        <div class="col-md-10">
                            <h4 class="mt-md-0 mt-2">Software Devlopment Stack</h4>
                            <p class="mt-3">
                                We Develop your WebSites and Personalized Software's using the newest technologies like Angular.js , React , .NET Core , Java etc.
                            </p>
                            <!-- <a href="#" class="btn">Read More</a> -->
                        </div>
                        <div class="col-md-2 mt-5">
                            <span class="fa fa-lightbulb-o"></span>
                        </div>
                        <div class="col-md-10 mt-md-5">
                            <h4 class="mt-md-0 mt-2">Computer Hardware and Networking Stack</h4>
                            <p class="mt-3">
                                We have Seprate Dedicated Certified team for Hardware as well as Network who are exprert in Handling issues in Computers , Printer , Network .
                            </p>
                            <!-- <a href="#" class="btn">Read More</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-6 mt-lg-0 mt-4">
                    <div class="row inner-heading">
                        <div class="col-md-2">
                            <span class="fa fa-question-circle"></span>
                        </div>
                        <div class="col-md-10">
                            <h4 class="mt-md-0 mt-2">Easy to work with Us</h4>
                            <p class="mt-3">
                                We provide detailed documentation as well as Product specific tranning.
                                We are also always open to feedback and can answer any questions a user may have about Product.
                            </p>
                            <!-- <a href="#" class="btn">Read More</a> -->
                        </div>
                        <div class="col-md-2 mt-5">
                            <span class="fa fa-bullhorn"></span>
                        </div>
                        <div class="col-md-10 mt-md-5">
                            <h4 class="mt-md-0 mt-2">Working on result</h4>
                            <p class="mt-3">
                                We Will not Finish until you staisfy with the services that's our motto.
                            </p>
                            <!-- <a href="#" class="btn">Read More</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 left-img">
                    <img src="~/images/st11.png" class="img-fluid" alt="" />
                </div>
            </div>
        </div>
    </section>
    <!-- //about bottom -->
    <!-- portfolio -->
    <section class="portfolio py-5" id="portfolio">
        <div class="container py-md-5 py-3">
            <h5 class="heading mb-2">our recent works</h5>
            <h3 class="heading mb-sm-5 mb-3">Our Clients</h3>
            <div class="row news-grids text-center">
                <div class="col-md-3 col-6 gal-img">
                    <a href="#gal1"><img src="~/images/client-1.png" alt="DSM Infocom" class="img-fluid"></a>
                </div>
                <div class="col-md-3 col-6 gal-img">
                    <a href="#gal2"><img src="~/images/client-5.png" alt="Advisit Consultant" class="img-fluid"></a>
                </div>
                <div class="col-md-3 col-6 gal-img">
                    <a href="http://www.e2etelelink.com"><img src="~/images/e2e-Log.png" alt="E2E TeleLink" class="img-fluid"></a>
                </div>
                <div class="col-md-3 col-6 gal-img">
                    <a href="#gal4"><img src="~/images/client-3.png" alt="Mahaverum tech" class="img-fluid"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- //Projects -->
    
    <!-- text -->
    <section class="text py-5" id="register">
        <div class="container py-md-5 py-3 text-center">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4 heading">The <span>company</span> whom you want to work with.</h2>
                    <p>
                        Get registered to get the Best Offers.
                    </p>
                    <a href="#contact" class="btn mr-3"> Work With Us</a>
                    <a href="#portfolio" class="btn"> Projects </a>
                </div>
                <div class="col-md-6 padding">
                    <!-- banner form -->
                    <form action="#" method="post">
                        <h5 class="mb-3">Register Here</h5>
                        <div class="form-style-w3ls">
                            <input placeholder="Your Name" name="name" type="text" required="">
                            <input placeholder="Your Email Id" name="email" type="email" required="">
                            <input placeholder="Contact Number" name="number" type="text" required="">
                            <select>
                                <option value="0">Business Type</option>
                                <option value="1">Corporate</option>
                                <option value="1">Partnership</option>
                                <option value="1">Other</option>
                            </select>
                            <!--<input placeholder="Password" name="password" type="password" required=""> -->
                            <button Class="btn"> Get registered</button>
                            <span>By registering, you agree to our <a href="#">Terms & Conditions.</a></span>
                        </div>
                    </form>
                    <!-- //banner form -->
                </div>
            </div>
        </div>
    </section>
    <!-- //text -->
    <!-- testimonials -->
    <section class="testi py-5" id="testi">
        <div class="container py-md-5 py-3">
            <h5 class="heading mb-2">Testimonial</h5>
            <h3 class="heading mb-sm-5 mb-3">What Our Client Say</h3>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="row testi-cgrid border-right-grid">
                        <div class="col-sm-4 testi-icon mb-sm-0 mb-3">
                            <img src="~/images/test11.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="col-sm-8">
                            <p class="mx-auto"><span class="fa fa-quote-left"></span> Best ever compnay to work with out of way problem thinkers.</p>
                            <h6 class="b-w3ltxt mt-3">Allwin Charles - <span>customer</span></h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="row testi-cgrid border-left-grid">
                        <div class="col-sm-4 testi-icon mb-sm-0 mb-3">
                            <img src="~/images/test12.jpg" alt="" class="img-fluid" />
                        </div>
                        <div class="col-sm-8">
                            <p class="mx-auto"><span class="fa fa-quote-left"></span> Getting this end to end support even after the project completion is mind blowing in Mcop.</p>
                            <h6 class="b-w3ltxt mt-3">Shubham Mannewar - <span>customer</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonials -->
    <!-- Contact page -->
    <section class="contact py-5" id="contact">
        <div class="container py-md-5 py-5">
            <h5 class="heading mb-2">Contact Us</h5>
            <h3 class="heading mb-sm-5 mb-3">Mcop Solution Private Limited</h3>
            <div class="row contact_information">
                <div class="col-md-6 contact_left">
                    <div class="contact_border p-4">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14394.057673514044!2d85.14598271652314!3d25.587817136815357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed59900332943b%3A0x7345c8e51fcc9176!2sM-Corp!5e0!3m2!1sen!2sin!4v1550044604241"></iframe>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-4">
                    <div class="contact_right p-lg-5 p-4">
                        <form action="#" method="post">
                            <div class="w3_agileits_contact_left">
                                <h3 class="mb-3">Contact form</h3>
                                <input type="text" name="Name" placeholder="Your Name" required="">
                                <input type="email" name="Email" placeholder="Your Email" required="">
                                <input type="text" name="Phone" placeholder="Phone Number" required="">
                                <textarea placeholder="Your Message Here..." required=""></textarea>
                            </div>
                            <div class="w3_agileits_contact_right">
                                <button type="submit">Submit</button>
                            </div>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //Contact page -->
    <!-- footer -->
    <footer class="py-md-5 py-3">
        <div class="container py-md-5 py-3">
            <div class="row footer-grids">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                    <h4 class="mb-4">MCop Info</h4>
                    <p class="mb-3">
                        CIN - U72900BR2019PTC042967
                    </p>
                    <p class="mb-3">
                        GSTIN - 10AAMCM8733H1ZF
                    </p>

                </div>
                <div class="col-lg-3 col-sm-6 mb-md-0 mb-sm-5 mb-4">
                    <h4 class="mb-4">Address Info (HQ)</h4>
                    <p><span class="fa mr-2 fa-map-marker"></span>Siyaram Sadan,Main Ashok Nagar Road, <span> number 2, Kankarbagh, Patna, Bihar 800020 </span></p>
                    <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +91 8292604525 </p>
                    <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">amitkumar@musafircorp.com</a></p>
                </div>
                <div class="col-lg-3 col-sm-6 mb-md-0 mb-sm-5 mb-4">
                    <h4 class="mb-4">Corporate Office</h4>
                    <p><span class="fa mr-2 fa-map-marker"></span>1103 , Chnadrawati bhavan , Ghamapur chowk<span> Jabalpur </span></p>
                    <p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +91 8319628871 </p>
                    <p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">nitinjha@musafircorp.com</a></p>
                </div>
                <div class="col-lg-2 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
                    <h4 class="mb-4">Quick Links</h4>
                    <ul>
                        <li><a href="#register">Register here </a></li>
                        <!-- <li class="my-2"><a href="#team">Business Team</a></li> -->
                        <li><a href="#contact">Support Helpline</a></li>
                        <!-- <li class="mt-2"><a href="#">Privacy Policy</a></li> -->
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h4 class="mb-4">Subscribe Us</h4>
                    <p class="mb-3">Subscribe to our newsletter</p>
                    <form action="#" method="post" class="d-flex">
                        <input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
                        <button type="submit" class="btn">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container py-4">
            <div class=" text-center">
                <p>© 2019 All Rights Reserved | Design by <a href="http://www.mcop.co.in/"> MCop</a> </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
    <!-- move top -->
    <div class="move-top text-right">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->



</body>
</html>